[submodule "poxController"]
	path = poxController
	url = https://github.com/DISTA-IoT/smartville-controller
	branch = tiger_second_round
[submodule "AttackerNode"]
	path = AttackerNode
	url = https://github.com/DISTA-IoT/smartville_attacker
	branch = new_smartville
[submodule "VictimNode"]
	path = VictimNode
	url = https://github.com/DISTA-IoT/smartville_victim
	branch = new_smartville
[submodule "smartville-monitor"]
	path = smartville-monitor
	url = https://github.com/DISTA-IoT/smartville-monitor
	branch = master
[submodule "mockserver"]
	path = mockserver
	url = https://github.com/DISTA-IoT/smartville-mockserver
	branch=main